html {margin: 0; padding: 0; min-height: 100%; background: radial-gradient(rgba(120,150,190,0.1), rgba(30,60,90,0.4)) no-repeat;}
body {margin: 0; padding: 50px 0; border: none; font-family: Arial;}
header {margin: 50px;}

#content {max-width: 1600px; display: block; margin: auto; margin-top: 100px; min-width: 320px;}
.box {background-color: white; color: #222; display: block; padding: 20px; box-shadow: 5px 5px 5px rgba(0,0,0,0.3); box-sizing: border-box; word-wrap: break-word;}
.container {width: calc(100% - 120px); display: block; margin: 50px auto;}


nav {background-color: #232930; height: 60px; width: 100%; top: 0; position: fixed; z-index: 100; min-width: 320px; padding: 0;}
nav ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; color: white;}
nav li {display: inline-block; height: 60px; vertical-align: middle; margin: 0 15px;}
.navlogo, .navlogo img {max-width: 60px; max-height: 40px;}
.navlogo {margin: 10px;}
.navimage {width: 58px; height: 58px;}
.navimage div {width: 58px; height: 58px; border-radius: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover;}
.navtext {width: 150px; text-align: center; height: 20px; border-bottom: 2px solid white; overflow: hidden; padding: 10px; font-size: 20px; background-color: rgba(0, 5, 10, 0.5);}
.readonly {padding: 0; margin: 0; background: rgba(0, 0, 0, 0); border: none; text-align: center; font-size: 16px;}
.readonly:hover {border: none; background: rgba(0, 0, 0, 0);}
nav .readonly {font-size: 18px; color: white;}
.navsearch select {width: 100px;}
.navsearch {height: auto; height: 50px; overflow: hidden; padding: 5px;}
.navsearch input[type=search] {margin: 10px 5px; width: calc(100% - 130px); padding: 5px; padding-left: 35px; background-color: rgba(255,255,255,0.1); background-repeat: no-repeat; background-image: url("../media/search.png"); background-size: auto calc(100% - 10px); background-position: 5px; border: none; border-bottom: 2px solid white; outline: none;}
.navsearch input[type=search]:hover, .navsearch input[type=search]:focus {width: 100%; background-color: rgba(255,255,255,1); border-bottom: 2px solid blue;}
.navsearch input[type=search]:hover + select, .navsearch input[type=search]:focus + select {display: none;}
.navsearch select {width: 90px; margin:10px; display: inline-block;}
.inavmenu, .navmenu, #navtoggler {padding: 0; margin: 0; float: right; cursor: pointer;}
#navigation {float: right; display: inline-block;}
#navtoggler {display: none;}
#navtoggler button {background-color: rgba(0,0,0,0); border: none; color: #FFF; font-size: 28px; padding: 11px 24px; outline: none; cursor: pointer; margin: 0;}
#navtoggler button:hover {background-color: #000;}
nav a:link, nav a:visited {color: white; text-decoration: none;}
nav ul {max-width: 2000px; margin: auto;}
nav dl {padding: 0; margin: 0;}
nav li a, nav dt {display: inline-block; color: white; text-align: center; padding: 20px; margin: 0; width: auto; text-decoration: none;}
nav li a:hover:not(.active), nav dt:hover  {background: rgba(0, 5, 10, 0.99); transition: 0.5s;}
nav dd {position: absolute; float: right; top: 58px; display: none; background: rgba(0, 5, 10, 0.9); padding: 0; border-top: 2px solid white; margin: 2px -75px; width: 240px;}
nav dd li {width: 100%; margin: 10px 0; height: auto;}
nav dd li a {width: calc(100% - 40px);}
.navmenu dt, nav li a {width: 60px;}
.active {background-color: black !important; color: white !important;}
.dactive {background-color: #ABF !important; border: 1px solid black !important;}
.dropdown {display: block; transition: 1s; position: relative; overflow: visible;}
.dropdown dt {font-size: 20px; padding: 20px; margin: 20px 5px; border: 1px solid lightgray; text-align: center; overflow: hidden; transition: 0.5s;}
.dropdown dt:hover, .dropdown .active {border: 1px solid blue; color: blue; background: rgba(0, 5, 10, 0.8); }
.dropdown dd {border: 1px solid blue; text-align: left; position: absolute; margin: 0 5px; margin-top: -20px; overflow: scroll; height:0; background: #FAFCFF; left:0; right: 0; z-index: 10; transition: 0.5s;}
.dropdown dd li {list-style-type: none; margin: -5px 0;}

#search select {max-width: 120px; display: block; margin: 20px auto 0 auto;}
#search input[type=search] {width: calc(100% - 10px);}
.searchtable {border-collapse: collapse;}
.searchtable th {text-align: center; max-width: 200px; width: 30%; margin: auto; padding: 20px 10px; border: 1px solid lightgray;}
.searchtable tr {border: 1px solid lightgray; overflow: visible; border-bottom: 2px solid lightgray;}
.searchtable td {overflow: visible;}
.searchopt {display: none;}
.bpic {max-width: calc(100% - 100px); width: 400px; margin: 10px auto; display: block;}
.pwrap {margin:auto; display:block; text-align:center; max-height:120px; overflow:auto;}
.subpart {max-height:500px; overflow:auto;}
.hsubpart {max-height:300px; overflow:auto;}

.indexform {width: 37.5%; float: right; clear: right; margin: 30px 50px;}
.boxform {margin: 30px 50px;}
.pres {margin: 30px 50px; margin-right: 20px; width: calc(62.5% - 180px); font-size: 18px; padding: 50px; text-align: center; float: left;}
.pres h2 {font-size: 28px; font-weight: normal; color: black;}
.pres p {text-align: justify;}
.pres i {font-size: 16px;}

.postitem p {word-wrap: break-word; white-space: pre-wrap; text-align: justify;}
.postitem h3 {text-align: left; padding-left: 20px;}
.postitem h4 {padding-left: 50px;}
.postitem h5 {padding-left: 30px; margin-bottom: 0;margin-top: 0;}
.comments {margin: 5px 5px; margin-top: -5px; background: rgba(200, 205, 215, 0.15); max-height: 0; overflow: auto; transition: 1s;}
.comments h4 {padding: 0; margin-bottom: 5px; padding-left: 10px;}
.postitem textarea {height: 30px; font-size: 13px; padding: 5px; margin: 0 5px; width: calc(100% - 176px); display: inline-block;}
.item {background: rgba(200, 205, 215, 0.15); box-shadow: 5px 5px 5px rgba(0,0,0,0.1); margin: 30px; padding: 5px 15px; max-height: 500px; overflow: auto;}
.file .item {font-size: 12px; font-weight: normal; white-space: pre; overflow: scroll;}
.file audio, .file video {width: 100%;}
.file img, .file image {display: block; max-width: 100%; margin: 10px auto;}
.filelink {border: 1px solid lightgray; margin: 0 30px; padding: 30px; font-size: 18px; text-align: center; display: block; width: calc(100% - 122px); background: rgba(200, 205, 215, 0.15); transition: 0.5s;}
.filelink::before {content: "File : ";}
.filelink:hover {background: rgba(200, 205, 215, 0.5);}
.interact {margin: 20px; margin-top: 0; font-weight: bold; float: right; display: inline-block; padding: 5px; padding-right: 10px; font-size: 16px; border-bottom: 2px solid white; transition: 0.5s;}
.interact:hover {cursor: pointer; border-bottom: 2px solid black;}
.comments .interact {font-size: 12px; transition: 0.5s; margin-top: -5px;}
.like::before {content: "❤"; line-height: 10px; margin: 10px; font-size: 20px;}
.comments .like::before {font-size: 16px;}
.like {color: red; margin-right: 30px; transition: 0.5s;}
.like:not(.liked) {color: gray; filter: grayscale(100%);}
.like.liked:hover {color: gray; filter: grayscale(100%);}
.like:not(.liked):hover {color: red; filter: grayscale(0%);}
.comment::before {content: "⚡"; line-height: 10px; margin: 10px; font-size: 20px;}
.comments .comment::before {font-size: 11px;}
.comment {color: gold; text-shadow: 1px 1px white; margin-right: 10px; transition: 0.5s;}
.comment:hover {color: black;filter: grayscale(100%);}

a:link, a:visited {color: blue; transition: 0.5s;}
a:hover {color: darkblue;}
a:active {color: red;}
table {width: 100%; margin: 10px auto; padding: 5px; text-align: center; table-layout: fixed;}
tr, th, td {text-align: center; overflow: scroll;}
.formtable {width: 95%; max-width: 700px;}
.resulttable {width: calc(100% - 20px); margin: 10px auto; font-size: 18px; max-width: 1600px; white-space: nowrap;}
.resulttable th {padding: 10px; border: 2px solid black; background-color: rgba(255,255,255,1);}
.resulttable td {padding: 10px; border: 1px solid black; background-color: rgba(255,255,255,0.9);}

.wrapper {display: block; margin: auto; text-align: center;}
select {font-size: 16px; width: 100%;}
textarea {width: calc(100% - 31px); border: 1px solid lightgray; padding: 10px; display: block; margin: 20px auto; height: 120px; font-size: 16px; resize: none;}

input {margin: 15px 5px; width: calc(100% - 21px); font-size: 18px; padding: 5px; border: 1px solid lightgray; transition: 0.5s;}
input:hover {border: 1px solid blue; background-color: rgba(100,150,200,0.05);}
input[type=submit] {width: calc(100% - 10px); margin: 20px 5px; margin-bottom: 10px; background-color: rgba(0,0,255,0.9); color: white; border: none;}
input[type=submit]:hover {background-color: rgba(30,60,120,0.8);}
input[type=radio] {width: 15px; margin: 0 5px; display: inline-block;}
input[type=checkbox] {display: inline; width: 30px; margin: 15px auto;}
input[type=file] {padding: 20px; width: calc(100% - 50px); display: block; margin: 5px;}
input[type=number] {width: 50px; margin: 10px;}
#friendStatus input[type=submit] {margin: 10px 5px;}

.sub, .subh {background-color: rgba(40,80,160,0.9) !important; cursor: pointer;}
.subh:hover {background-color: rgba(10,20,40,0.8) !important; cursor: pointer;}
.asub, .asubh {background-color: rgba(40,240,80,0.8) !important;}
.asubh:hover {background-color: rgba(40,255,80,0.9) !important; cursor: pointer;}
.bsub, .bsubh {background-color: rgba(240,80,40,0.8) !important;}
.bsubh:hover {background-color: rgba(240,60,30,0.9) !important; cursor: pointer;}
.csub, .csubh {background-color: rgba(255,0,0,0.9) !important;}
.csubh:hover {background-color: rgba(120,60,30,0.8) !important; cursor: pointer;}
.dsub, .dsubh {background-color: rgba(10,20,40,0.8) !important;}
.dsubh:hover {background-color: black !important; cursor: pointer;}
.esub, .esubh {background-color: rgba(255,215,0,0.9) !important;}
.esubh:hover {background-color: rgba(200,180,30,0.8) !important; cursor: pointer;}
.fsub {background-color: rgba(40,240,80,0.8) !important;}
.fsub:hover {background-color: rgba(255,0,0,0.9) !important; cursor: pointer;}

progress {width: calc(100% - 10px); margin: 0 5px;}
.fileinputbutton {display: block; padding: 50px; width: calc(100% - 111px); margin: 20px 5px 0 5px; border: 1px solid lightgray; font-size: 20px;text-align: center; transition: 1s;}
.fileinputbutton:hover {border: 1px solid blue; color: blue; background-color: rgba(100,150,200,0.05); cursor: pointer;}
.fileinput {height: 1px; width: calc(100% - 20px) !important; margin:-10px 10px !important; padding:0 !important; opacity: 0; overflow: hidden; z-index: -1;}
#fileinputfb {white-space: pre-line;}
.dragfile {outline: 2px dashed black; outline-offset: -10px;}
.dragndrop, .uploading, .success, .error {display: none; color: black;}
.dragfile .dragndrop {display: inline;}
.dragover {background-color: rgba(100,150,250,0.3);}
.uploading, .success, .error {width: 100%; text-align: center; font-weight: bold; font-variant: small-caps;}
.is-uploading .uploading {display: block;}

.blockdiv {width: calc(100% - 20px); text-align: center; margin: 0 5px; background-color: rgba(30,60,120,0.6); color: white; border: none; display: block; font-size: 14px; padding: 5px; transition: 0.5s;}
.bblockdiv, .ibblockdiv, .fbblockdiv {width: calc(100% - 30px); text-align: center; vertical-align: middle; margin: 5px; background-color: rgba(30,60,120,0.6); color: white; border: none; display: inline-block; font-size: 16px; padding: 10px; transition: 0.5s;}
.bblockdiv:hover {background-color: rgba(30,60,120,0.9);}
.bblockdiv p {top: 0; position: relative;}
.ibblockdiv {width: 120px; margin: -33px 5px 0 5px; padding: 12px;}
.fbblockdiv {width: auto; margin: 0 10px; padding: 10px; color: white !important; text-decoration: none;}

h1, h2, h3 {text-align: center;}
h1 {font-size: 36px; margin: 20px auto;}
h2 {margin: 10px; color: darkblue; font-size: 24px;}
hr {height: 2px; border: none; background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));}

.info {margin: 50px auto;}
.infomsg {text-align: center; font-size:16px;}
.fbmsg {font-weight: bold; text-align: center; padding: 0; margin: 0 auto; width: 100%; font-size: 14px;}
.errmsg {color: red; margin: 20px auto; margin-bottom:0; font-size: 18px;}
.scsmsg {color: green; margin: 10px auto; margin-top:0; font-size: 18px;}
.overlay {width: 100%; height: 100%; top: 0; position: fixed; z-index: 100; opacity: 0; background-color: rgba(0,0,0,0.3); transition: 0.5s;}
.dialogbox {margin: 20% auto; display: block; width: 100%; max-width: 600px; background-color: white; color: #222; padding: 20px 50px; padding-bottom: 0; box-shadow: 5px 5px 5px rgba(0,0,0,0.3); box-sizing: border-box; text-align: center;}

@media screen and (max-width: 1000px) {
	.indexform, .pres {width: calc(100% - 80px); margin: 50px auto; float: none; display: block;}
	.navmenu {display: block; clear: both; top: 0px; width: 200px;}
	.navmenu dt, nav .navmenu a {width: 160px;}
	nav dd {width: 220px; border-right: 2px solid white; right: 200px; margin: -118px 0; top: auto;}
	#navigation {display: none;  clear: both; position: absolute; right: 0; background: rgba(0, 5, 10, 0.9);}
	#navtoggler {display: block; clear: both;}
	#navigation li {display: block; clear: both;}
}
@media screen and (max-width: 500px) {
	.indexform, .pres, .boxform {width: 100%; margin: 50px auto; padding: 15px; float: none; display: block;}
	form, textarea, input {font-size: 14px;}
	select {font-size: 12px;}
	.pres {padding: 30px;}

}
@media screen and (max-width: 450px) {
	.navtext {width: calc(100% - 300px);}
	nav dd {width: 200px; right:130px; top: auto; float: none; position: fixed;}
}
@media screen and (max-width: 400px) {
	.navtext {display: none;}
}
